*{
    font-family: 'Quicksand', sans-serif;
    background: rgb(42,43,46);
    background: linear-gradient(159deg, rgba(42,43,46,1) 0%, rgba(0,0,0,1) 100%);   
    color: white;
    height: 100%;
    overflow-y: hidden;
}

h1{
    text-shadow: 0.15vw 0.15vw black;
}