*
{
    font-family: 'Quicksand', sans-serif;
}

h1
{
    text-align: center;
}
.indavideo-player
{
    display: block;
    margin: 0 auto;
    margin-top: 10vw;
    width: 100vh;
    height: 50vh;
}
